<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="" value=""/>
		<add key="AccesoDatosBusiness" value="DAL.Repositories.SQL"/>
	</appSettings>
	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=DESKTOP-SUGMSMF;Initial Catalog=TFI1P;Integrated Security=True"/>
	</connectionStrings>
</configuration>